@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #8758ff, #ff583f);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Necessary for absolute positioning of texts */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #10103a;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

/* Additional styles for moving texts */
@keyframes movingText {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.moving-text {
  position: absolute;
  color: #fff;
  font-size: 1rem;
  animation: movingText 3s ease infinite;
}

/* Adjust positions for each moving text */
.moving-text:nth-child(1) {
  top: 200%;
  left: 0%;
}
.moving-text:nth-child(2) {
  top: 200%;
  left: 10%;
}
.moving-text:nth-child(3) {
  top: 200%;
  left: 20%;
}

.moving-text:nth-child(4) {
  top: 200%;
  left: 30%;
}

.moving-text:nth-child(5) {
  top: 200%;
  left: 40%;
}

.moving-text:nth-child(6) {
  top: 200%;
  left: 50%;
}

.moving-text:nth-child(7) {
  top: 200%;
  left: 60%;
}

.moving-text:nth-child(8) {
  top: 200%;
  left: 70%;
}

.moving-text:nth-child(9) {
  top: 200%;
  left: 80%;
}

.moving-text:nth-child(10) {
  top: 200%;
  left: 90%;
}